<div class="container my-4 col-11">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="text-center">PWVault</h1>
    <button
      class="btn btn-outline-success"
      (click)="openCreateSecretModal()"
    >
      <i class="bi bi-plus"></i> Create Secret
    </button>
  </div>

  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
    {{ errorMessage }}
  </div>

  <div *ngIf="loading" class="text-center my-4">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <div *ngIf="!loading && secrets.length > 0">
    <div *ngFor="let folder of getFolders()" class="mb-4">
      <div class="card collapsable-card shadow-sm">
        <div
          class="card-header d-flex justify-content-between align-items-center"
          (click)="toggleFolder(folder)"
        >
          <h5 class="mb-0">{{ folder }}</h5>
          <button
            class="btn btn-outline-secondary btn-sm"
            type="button"
          >
            <i
              class="bi"
              [ngClass]="{
                'bi-chevron-down': !isFolderOpen(folder),
                'bi-chevron-up': isFolderOpen(folder)
              }"
            ></i>
          </button>
        </div>
        <div
          [id]="sanitizeId(folder)"
          class="collapse"
          [class.show]="isFolderOpen(folder)"
        >
          <div class="card-body">
            <div class="row">
              <div
                *ngFor="let secret of secretsByFolder[folder]"
                class="col-6 col-lg-3 col-md-4 mb-3"
              >
                <div
                  class="card shadow-sm"
                  style="cursor: pointer;"
                  (click)="goToSecretDetail(secret.id)"
                >
                  <div class="card-body">
                    <h5 class="card-title">{{ secret.name }}</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!loading && secrets.length === 0" class="text-center">
    <p class="text-muted">No secret found.</p>
  </div>

  <app-create-secret-modal (onSecretCreated)="loadSecrets()"></app-create-secret-modal>
</div>
