<div class="container d-flex flex-column justify-content-center align-items-center vh-100 pb-5">
    
  
    <div *ngIf="loading" class="text-center">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  
    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
      {{ errorMessage }}
    </div>
  
    <div *ngIf="!loading && secretDetail && secretId" class="card shadow-sm mx-auto h-50  ms-1 me-1 mb-5 w-100" style="max-width: 600px;">
      <div class="card-body h-100 d-flex flex-column justify-content-center">
        <div><div class="d-flex justify-content-between align-items-center">
            <button class="btn btn-outline-primary position-absolute top-0 start-0 m-4" (click)="goBack()">
              <i class="bi bi-arrow-left"></i>
            </button>
        </div><div class="d-flex position-absolute top-0 end-0 gap-2 m-4">
            <button class="btn btn-primary" (click)="editSecret()">
              <i class="bi bi-pencil"></i>
            </button>
            <button
              class="btn btn-danger"
              data-bs-toggle="modal"
              data-bs-target="#confirmDeleteModal"
            >
              <i class="bi bi-trash"></i>
            </button>
          </div></div>
        
        <h1 class="card-title text-center mx-1 my-4 ">{{ secretDetail.name }}</h1>
        
        <div class="mt-5">
          <div class="d-flex justify-content-center gap-3 align-items-center">
            <span class="d-none d-md-flex fw-400 ms-md-4 h4">Value:</span>
            <div class="d-flex align-items-center" style="height: 3rem;">
              <input
                type="text"
                class="form-control text-center h-100"
                [value]="secretVisible ? secretDetail.value : '••••••••••••'"
                readonly
                style="min-width: 70px;max-width: 300px; 
                border-top-right-radius: 0; 
                border-bottom-right-radius: 0;"
              />
              <button
                class="btn btn-sm btn-outline-secondary fs-4 me-md-3 h-100"
                (click)="toggleSecretVisibility()"
                style=" border-top-left-radius: 0; 
                border-bottom-left-radius: 0;"
              >
                <i
                  [class.bi-eye-slash-fill]="secretVisible"
                  [class.bi-eye-fill]="!secretVisible"
                ></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
<div
class="modal fade"
id="confirmDeleteModal"
tabindex="-1"
aria-labelledby="confirmDeleteModalLabel"
aria-hidden="true"
>
    <div *ngIf="!loading && secretDetail && secretId" class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmDeleteModalLabel">Are you sure you want to delete this secret?</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Keep
          </button>
          <button
            type="button"
            class="btn btn-danger"
            (click)="deleteSecret(secretId)"
            data-bs-dismiss="modal"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
</div>
  