<div class="container my-4">
    <div class="mb-4">
      <button class="btn btn-outline-primary" (click)="goBack()">
        <i class="bi bi-arrow-left"></i>
      </button>
    </div>
  
    <div *ngIf="loading" class="text-center">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  
    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
      {{ errorMessage }}
    </div>
  
    <div *ngIf="!loading && secretDetail" class="card shadow-sm mx-auto" style="max-width: 600px;">
      <div class="card-body">
        <h2 class="card-title text-center mb-4">{{ secretDetail.name }}</h2>
  
        <div class="mb-3">
          <div class="d-flex justify-content-between align-items-center">
            <span class="fw-bold">Value:</span>
            <div class="d-flex align-items-center">
              <span
                [class.text-muted]="!secretVisible"
                [class.text-dark]="secretVisible"
                class="me-3"
                >{{ secretVisible ? secretDetail.value : '••••••' }}</span
              >
              <button
                class="btn btn-sm btn-outline-secondary"
                (click)="toggleSecretVisibility()"
              >
                <i
                  [class.bi-eye-slash-fill]="secretVisible"
                  [class.bi-eye-fill]="!secretVisible"
                ></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  